.Container {
  display: flex;
  justify-content: center;
}

.Cartoon {
  display: flex;
  width: 30%;
  min-width: 220px;
  padding-right: 40px;
  align-items: flex-start;
  justify-content: center;
}

.Description {
  width: 50%
}
