.Container {
  position: relative;
  width: 100%;
  background: #2d2929;
  background-image: linear-gradient(#4b4a4a, #2f2e2e);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);

  .Navigation {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    justify-content: flex-end;

    a {
      display: block;
      padding: 15px 20px;
      font-weight: 600;
      text-transform: uppercase;
      font-family: "Source Sans Pro", "Open Sans", sans-serif;
      text-decoration: none;
      color: #fff;
    }


    &Home {
      margin-right: auto;
    }
  }
}
