.Container {
  background-image: linear-gradient(#d3f1fc -450px, #00b3f9 500px, #88a0ab 510px);
}

div.SectionOverride {
  max-width: 800px;
  z-index: 10;
}

.Montain {
  position: absolute;
  top: 422px;
  z-index: 1;
}
